.sbs-logo{
	margin-top: 112px;
	max-width: 100%;
}

.cover-title{
	color: white;
	font-weight: 600;
}

.cover-subtitle{
	color: #1fcbf6;
	font-weight: 700;
}

.cover{
	background: #333 url("cover-photo.png") no-repeat 50% 50%;
	background-size: cover;
	height: 650px;
	text-align: center;
}
.login{
	margin-top: 64px;
}
.name{
	position: relative;
	width: 100%;
	height: 57px;
	background-color: #fff;
	float: left;
	border-radius: 4px;
}
.name-icon{
	position: absolute;
	left: 17px;
	padding-right: 17px;
	top: 18px;
	outline: none;
	border: none;
}
.name-input{
	position: absolute;
	right: 0;
	width: 241px;
	height: 100%;
	outline: none;
	border: none;
	border-radius: 4px;
}
.name:focus-within{
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}
.email{
	position: relative;
	width: 295.9px;
	height: 57px;
	background-color: #fff;
	margin-left: 21px;
	float: left;
	border-radius: 4px;
}
.email-icon{
	position: absolute;
	left: 16px;
	padding-right: 16px;
	top: 20px;
}
.email-input{
	position: absolute;
	right: 0;
	width: 241px;
	height: 100%;
	outline: none;
	border: none;
	border-radius: 4px;
}
.email:focus-within{
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}
.phone{
	position: relative;
	width: 295.9px;
	height: 57px;
	background-color: #fff;
	margin-left: 21px;
	float: left;
	border-radius: 4px;
}
.phone-icon{
	position: absolute;
	left: 18px;
	padding-right: 18px;
	top: 16px;
}
.phone-input{
	position: absolute;
	right: 0;
	width: 241px;
	height: 100%;
	outline: none;
	border: none;
	border-radius: 4px;
}
.phone:focus-within{
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}
.lets-get-started{
	width: 225.9px;
	height: 57px;
	background-color: #33b8e5;
	margin-left: 21px;
	float: left;
	color: #fff;
	border-radius: 4px;
	outline: none;
	border: none;
}
.lets-get-started:hover{
	background-color: #1997c1;
	cursor: pointer;
}
.lets-get-started:active{
	width: 220px;
	height: 54px;
	background-color: #1997c1;
}
.achievements{
			height: 973px;
			background-color: #fff;
		}
		.achievements-table{
			width: 100%;
			height: 162px;
			margin-left:;
			margin-top: 49px;
		}
		.ach-1{
			border: 1px solid rgba(0,0,0,0.1);
			height: 100%;
			float: left;
		}
		.ach-2{
			border: 1px solid rgba(0,0,0,0.1);
			height: 100%;
			float: left;
		}
		.ach-3{
			border: 1px solid rgba(0,0,0,0.1);
			height: 100%;
			float: left;
		}
		.ach-1-logo{
			margin-left: 29px;
			margin-top: 37px;
			float: left;
		}
		.ach-2-logo{
			margin-left: 37px;
			margin-top: 44px;
			float: left;
		}
		.ach-3-logo{
			margin-left: 33px;
			margin-top: 41px;
			float: left;
		}
		.ach-1-title{
			margin-left: 37px;
			margin-top: 45px;
			float: left;
			font-weight: 700;
			font-size: 15px;
		}
		.ach-2-title{
			margin-left: 37px;
			margin-top: 45px;
			float: left;
			font-weight: 700;
			font-size: 15px;
		}
		.ach-3-title{
			margin-left: 37px;
			margin-top: 45px;
			float: left;
			font-weight: 700;
			font-size: 15px;
		}
		.ach-1-subtitle{
			margin-left: 37px;
			margin-top: 22px;
			float: left;
			font-weight: 400;
			font-size: 16px;
		}
		.ach-2-subtitle{
			margin-left: 37px;
			margin-top: 22px;
			float: left;
			font-weight: 400;
			font-size: 16px;
		}
		.ach-3-subtitle{
			margin-left: 37px;
			margin-top: 22px;
			float: left;
			font-weight: 400;
			font-size: 16px;
		}
		.what-can{
			text-align: center;
			font-weight: 700;
			font-size: 28px;
			margin-top: 62px;
		}
		.FnA{
			text-align: center;
			font-weight: 600;
			font-size: 18px;
			margin-top: 16px;
			color: #0358a0;
		}
		.ach-boxcontainer{
			position: relative;
			margin-left: 54px;
		}
		.ach-box-1{
			width: 409px;
			height: 221px;
			margin-top: 46px;
			background-color: #ecf2ff;
			float: left;
			border-radius: 8PX;
		}
		.ach-box-1-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 53px;
			padding-top: 32px;
		}
		.ach-box-1-list{
			margin-left: 73px;
			margin-top: 21px;
			line-height: 30px;
		}
		.ach-box-1-logo{
			position: absolute;
			top: 101px;
			left: 350px;
		}
		.ach-box-2{
			width: 409px;
			height: 221px;
			margin-top: 46px;
			background-color: #ecf2ff;
			float: left;

			border-radius: 8PX;
		}
		.ach-box-2-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 111px;
			padding-top: 32px;
		}
		.ach-box-2-list{
			padding-left: 131px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-2-logo{
			position: relative;
			top: 384px;
			left: -58.5px;
		}
		.ach-box-3{
			width: 409px;
			height: 221px;
			margin-top: 52px;
			background-color: #ecf2ff;
			float: left;
			border-radius: 8PX;
		}
		.ach-box-3-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 54px;
			padding-top: 73px;
		}
		.ach-box-3-list{
			padding-left: 74px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-3-logo{
			position: absolute;
			top: 384px;
			left: 350px;
		}
		.ach-box-4{
			width: 409px;
			height: 221px;
			margin-top: 62px;
			background-color: #ecf2ff;
			float: left;
			margin-left: 238px;
			border-radius: 8PX;
		}
		.ach-box-4-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 111px;
			padding-top: 72px;
		}
		.ach-box-4-list{
			padding-left: 131px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-4-logo{
			position: absolute;
			top: 384px;
			left: 589px;
		}

@media screen and (min-width: 1300px) {
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font-family: 'Open Sans', sans-serif;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.cover-title{
	font-size: 56px;
	margin-top: 70px;
	}
	.cover-subtitle{
		font-size: 30px;
		margin-top: 24px;
	}
	.login{
		width: 1177px;
		margin: 0 auto;
		margin-top: 64px;
	}
	.name{
		position: relative;
		width: 295.9px;
		height: 57px;
		background-color: #fff;
		float: left;
		border-radius: 4px;
	}
	.name-icon{
		position: absolute;
		left: 17px;
		padding-right: 17px;
		top: 18px;
		outline: none;
		border: none;
	}
	.name-input{
		position: absolute;
		right: 0;
		width: 241px;
		height: 100%;
		outline: none;
		border: none;
	}
	.name:focus-within{
		box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	}
	.email{
		position: relative;
		width: 295.9px;
		height: 57px;
		background-color: #fff;
		margin-left: 21px;
		float: left;
		border-radius: 4px;
	}
	.email-icon{
		position: absolute;
		left: 16px;
		padding-right: 16px;
		top: 20px;
	}
	.email-input{
		position: absolute;
		right: 0;
		width: 241px;
		height: 100%;
		outline: none;
		border: none;
	}
	.email:focus-within{
		box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	}
	.phone{
		position: relative;
		width: 295.9px;
		height: 57px;
		background-color: #fff;
		margin-left: 21px;
		float: left;
		border-radius: 4px;
	}
	.phone-icon{
		position: absolute;
		left: 18px;
		padding-right: 18px;
		top: 16px;
	}
	.phone-input{
		position: absolute;
		right: 0;
		width: 241px;
		height: 100%;
		outline: none;
		border: none;
	}
	.phone:focus-within{
		box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	}
	.lets-get-started{
		width: 225.9px;
		height: 57px;
		background-color: #33b8e5;
		margin-left: 21px;
		float: left;
		color: #fff;
		border-radius: 4px;
		outline: none;
		border: none;
	}
	.lets-get-started:hover{
		background-color: #1997c1;
		cursor: pointer;
	}
	.lets-get-started:active{
		width: 220px;
		height: 54px;
		background-color: #1997c1;
	}
	.achievements{
			height: 973px;
			background-color: #fff;
		}
		.achievements-table{
			width: 100%;
			height: 162px;
			margin-left:;
			margin-top: 49px;
		}
		.ach-1{
			width: 33.33%;
			border: 1px solid rgba(0,0,0,0.1);
			height: 100%;
			float: left;
		}
		.ach-2{
			width: 33.33%;
			border: 1px solid rgba(0,0,0,0.1);
			height: 100%;
			float: left;
		}
		.ach-3{
			width: 33.33%;
			border: 1px solid rgba(0,0,0,0.1);
			height: 100%;
			float: left;
		}
		.ach-1-logo{
			margin-left: 29px;
			margin-top: 37px;
			float: left;
		}
		.ach-2-logo{
			margin-left: 37px;
			margin-top: 44px;
			float: left;
		}
		.ach-3-logo{
			margin-left: 33px;
			margin-top: 41px;
			float: left;
		}
		.ach-1-title{
			margin-left: 37px;
			margin-top: 45px;
			float: left;
			font-weight: 700;
			font-size: 15px;
		}
		.ach-2-title{
			margin-left: 21px;
			margin-top: 45px;
			float: left;
			font-weight: 700;
			font-size: 15px;
		}
		.ach-3-title{
			margin-left: 37px;
			margin-top: 45px;
			float: left;
			font-weight: 700;
			font-size: 15px;
		}
		.ach-1-subtitle{
			margin-left: 37px;
			margin-top: 22px;
			float: left;
			font-weight: 400;
			font-size: 16px;
		}
		.ach-2-subtitle{
			margin-left: 21px;
			margin-top: 22px;
			float: left;
			font-weight: 400;
			font-size: 16px;
		}
		.ach-3-subtitle{
			margin-left: 37px;
			margin-top: 22px;
			float: left;
			font-weight: 400;
			font-size: 16px;
		}
		.what-can{
			text-align: center;
			font-weight: 700;
			font-size: 28px;
			margin-top: 62px;
		}
		.FnA{
			text-align: center;
			font-weight: 600;
			font-size: 18px;
			margin-top: 16px;
			color: #0358a0;
		}
		.ach-boxcontainer{
			position: relative;
			margin-left: 54px;
		}
		.ach-box-1{
			width: 409px;
			height: 221px;
			margin-top: 46px;
			background-color: #ecf2ff;
			float: left;
			border-radius: 8PX;
		}
		.ach-box-1-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 53px;
			padding-top: 32px;
		}
		.ach-box-1-list{
			margin-left: 73px;
			margin-top: 21px;
			line-height: 30px;
		}
		.ach-box-1-logo{
			position: relative;
			top: -135px;
			left: 350px;
		}
		.ach-box-2{
			width: 409px;
			height: 221px;
			float: left;
			margin-top: 46px;
			background-color: #ecf2ff;
			margin-left: 238px;
			border-radius: 8PX;
		}
		.ach-box-2-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 111px;
			padding-top: 32px;
		}
		.ach-box-2-list{
			padding-left: 131px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-2-logo{
			position: absolute;
			top: 101px;
			left: 589px;
		}
		.ach-box-3{
			width: 409px;
			height: 221px;
			margin-top: 52px;
			background-color: #ecf2ff;
			float: left;
			border-radius: 8PX;
		}
		.ach-box-3-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 54px;
			padding-top: 73px;
		}
		.ach-box-3-list{
			padding-left: 74px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-3-logo{
			position: absolute;
			top: 384px;
			left: 350px;
		}
		.ach-box-4{
			width: 409px;
			height: 221px;
			margin-top: 62px;
			background-color: #ecf2ff;
			float: left;
			margin-left: 238px;
			border-radius: 8PX;
		}
		.ach-box-4-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 111px;
			padding-top: 72px;
		}
		.ach-box-4-list{
			padding-left: 131px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-4-logo{
			position: absolute;
			top: 384px;
			left: 589px;
		}
}

/*
		.what-can{
			text-align: center;
			font-weight: 700;
			font-size: 28px;
			margin-top: 62px;
		}
		.FnA{
			text-align: center;
			font-weight: 600;
			font-size: 18px;
			margin-top: 16px;
			color: #0358a0;
		}
		.ach-boxcontainer{
			position: relative;
			margin-left: 54px;
		}
		.ach-box-1{
			width: 409px;
			height: 221px;
			margin-top: 46px;
			background-color: #ecf2ff;
			float: left;
			border-radius: 8PX;
		}
		.ach-box-1-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 53px;
			padding-top: 32px;
		}
		.ach-box-1-list{
			margin-left: 73px;
			margin-top: 21px;
			line-height: 30px;
		}
		.ach-box-1-logo{
			position: absolute;
			top: 101px;
			left: 350px;
		}
		.ach-box-2{
			width: 409px;
			height: 221px;
			margin-top: 46px;
			background-color: #ecf2ff;
			float: left;
			margin-left: 238px;
			border-radius: 8PX;
		}
		.ach-box-2-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 111px;
			padding-top: 32px;
		}
		.ach-box-2-list{
			padding-left: 131px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-2-logo{
			position: absolute;
			top: 101px;
			left: 589px;
		}
		.ach-box-3{
			width: 409px;
			height: 221px;
			margin-top: 52px;
			background-color: #ecf2ff;
			float: left;
			border-radius: 8PX;
		}
		.ach-box-3-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 54px;
			padding-top: 73px;
		}
		.ach-box-3-list{
			padding-left: 74px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-3-logo{
			position: absolute;
			top: 384px;
			left: 350px;
		}
		.ach-box-4{
			width: 409px;
			height: 221px;
			margin-top: 62px;
			background-color: #ecf2ff;
			float: left;
			margin-left: 238px;
			border-radius: 8PX;
		}
		.ach-box-4-title{
			font-size: 18px;
			font-weight: 700;
			padding-left: 111px;
			padding-top: 72px;
		}
		.ach-box-4-list{
			padding-left: 131px;
			padding-top: 21px;
			line-height: 30px;
		}
		.ach-box-4-logo{
			position: absolute;
			top: 384px;
			left: 589px;
		}
		.edge{
			background: #333 url("bg2.png") no-repeat 50% 50%;
			background-size: cover;
			height: 711px;
		}
		.how-sundaram{
			font-weight: 700;
			font-size: 28px;
			padding-top: 50px;
			text-align: center;
		}
		.edge-white-box{
			position: relative;
			background-color: #fff;
			width: 572px;
			height: 563px;
			margin-top: 39px;
			border-radius: 30px 3px 30px 3px;
			float: left;
			margin-right: 45px;
			box-shadow: -5px 10px 30px rgba(0,0,0,0.45);
		}
		.edge-icons{
			position: absolute;
			left: 42px;
			top: 60px;
		}
		.edge-white-text{
			font-size: 18px;
			padding-left: 106px;
			padding-top: 47px;
			line-height: 67px;
			font-weight: 600;
		}
		.edge-right{
			margin-top: 181px;
		}
		.edgeblue1{
			position: relative;
			background-color: #00529c;
			width: 223px;
			height: 123px;
			border-radius: 30px 3px 30px 3px;
			float: left;
			text-align: center;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
		}
		.edgeblue1-title{
			position: absolute;
			left: 81px;
			line-height: 100%;
			top: 23px;
			font-size: 38px;
			font-weight: 700;
			color: #fff;
		}
		.edgeblue1-subtitle{
			position: absolute;
			left: 66px;
			line-height: 100%;
			top: 73px;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			line-height: 20px;
		}
		.edgeblue2{
			position: relative;
			background-color: #00529c;
			width: 223px;
			height: 123px;
			border-radius: 30px 3px 30px 3px;
			float: left;
			text-align: center;
			margin-left: 51px;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
		}
		.edgeblue2-title{
			position: absolute;
			left: 47px;
			line-height: 100%;
			top: 23px;
			font-size: 38px;
			font-weight: 700;
			color: #fff;
		}
		.edgeblue2-subtitle{
			position: absolute;
			left: 72px;
			line-height: 100%;
			top: 73px;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			line-height: 20px;
		}
		.edgeblue3{
			position: relative;
			background-color: #00529c;
			width: 223px;
			height: 123px;
			border-radius: 30px 3px 30px 3px;
			float: left;
			text-align: center;
			margin-top: 47px;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
		}
		.edgeblue3-title{
			position: absolute;
			left: 67px;
			line-height: 100%;
			top: 23px;
			font-size: 38px;
			font-weight: 700;
			color: #fff;
		}
		.edgeblue3-subtitle{
			position: absolute;
			left: 70px;
			line-height: 100%;
			top: 74px;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			line-height: 20px;
		}
		.edgeblue4{
			position: relative;
			background-color: #00529c;
			width: 223px;
			height: 123px;
			border-radius: 30px 3px 30px 3px;
			float: left;
			text-align: center;
			margin-left: 51px;
			margin-top: 47px;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
		}
		.edgeblue4-title{
			position: absolute;
			left: 93px;
			line-height: 100%;
			top: 23px;
			font-size: 38px;
			font-weight: 700;
			color: #fff;
		}
		.edgeblue4-subtitle{
			position: absolute;
			left: 90px;
			line-height: 100%;
			top: 73px;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			line-height: 20px;
		}
		.other{
			height: 542px;
			background-color: #fff;
		}
		.other-services{
			text-align: center;
			margin-top: 43px;
			font-size: 28px;
			font-weight: 700;
		}
		.otherbox1{
			position: relative;
			background-color: #fff;
			width: 423.49px;
			height: 389.99px;
			border-radius: 4px;
			margin-top: 41px;
			margin-left: 71px;
			float: left;
			border: 1px solid rgba(0,0,0,0.09);
			box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
		}
		.otherbox1head{
			position: absolute;
			left: 0px;
			top: 0px;
			padding-top: 24px;
			height: 72px;
			text-align: center;
			font-size: 18px;
			background-color: #ebf3fa;
			width: 423.49px;
			font-weight: 700;
		}
		.otherbox1list{
			position: absolute;
			left: 40px;
			top: 91px;
			line-height: 40px;
		}
		.otherbox1list img{
			margin-right: 13px;
		}
		.otherbox2{
			position: relative;
			background-color: #fff;
			width: 627.51px;
			height: 389.99px;
			border-radius: 4px;
			margin-top: 41px;
			margin-left: 29px;
			float: left;
			z-index: 1;
			border: 1px solid rgba(0,0,0,0.09);
			box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
		}
		.otherbox2head{
			position: absolute;
			left: 0px;
			top: 0px;
			padding-top: 24px;
			height: 72px;
			text-align: center;
			font-size: 18px;
			background-color: #ebf3fa;
			width: 627.51px;
			font-weight: 700;
			z-index: 2;
		}
		.otherbox2heading1{
			position: absolute;
			top: 98px;
			left: 40px;
			color: #00529c;
			font-weight: 700;
		}
		.otherbox2list1{
			position: relative;
			float: left;
			padding-top: 140px;
			padding-left: 40px;
			width: 312px;
			height: 389.99px;
			line-height: 40px;
			border-right: 1px solid rgba(0,0,0,0.1);
		}
		.otherbox2list1 img{
			margin-right: 13px;
		}
		.otherbox2list2{
			float: left;
			padding-top: 140px;
			padding-left: 40px;
			width: 313px;
			height: 389.99px;
			line-height: 40px;
		}
		.otherbox2heading2{
			position: absolute;
			top: 98px;
			left: 353px;
			color: #00529c;
			font-weight: 700;
		}
		.otherbox2list2 img{
			margin-right: 13px;
		}
		.footer{
			position: relative;
			height: 56px;
			background-color: #132b41;
		}
		.footer1{
			color: #1c78b6;
			font-size: 14px;
			padding-top: 18px;
			padding-left: 44px;
		}
		.footer2{
			color: #1c78b6;
			position: absolute;
			font-size: 14px;
			right: 76px;
			top: 18px;
		}*/